<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-links">
      <a href="https://scholar.google.es/citations?user=yoOzj1MAAAAJ&hl">Google Scholar</a>
      <a href="https://github.com/ikergarcia1996">GitHub</a>
      <a href="https://twitter.com/iker_garciaf">X</a>
      <a href="https://www.linkedin.com/in/iker-garc%C3%ADa-ferrero-75343b172/?locale=en_US">LinkedIn</a>
      <a href="https://orcid.org/0000-0001-9612-7134">ORCID</a>
      <a href="mailto:igarciaf896@gmail.com">Email</a>
    </div>
    <p class="footer-meta">© {{ 'now' | date: '%Y' }} {{ site.author.name }} · Donostia–San Sebastián</p>
  </div>
</footer>
